/*
TODO：解决浏览器兼容的插件
https://jhildenbiddle.github.io/css-vars-ponyfill/#/
*/

:root {
  --color-primary: #E1244E;
  --color-primary-hover: var(--color-primary) '30';
  --color-text: #1f2939;
  --color-success: #13ce66;
  --color-warning: #ffba00;
  --color-danger: #ff4949;
  --color-info: #dfe4ed;
}
